# Virtual environment
.pwpy/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Environment / secrets
.env
.env.*

#logs
logs/

#traces
traces/

#videos
videos/

#screenshots
screenshots/
#
allure-results/


AI_CONTEXT.md

framework.md
Gemini.md
learning.md


downloads/
